appdirs==1.4.3
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
distlib==0.3.0
filelock==3.0.12
idna==2.9
importlib-metadata==1.5.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
pyTelegramBotAPI==3.6.7
selenium==3.141.0
six==1.14.0
Werkzeug==1.0.0
zipp==3.1.0
